@font-face {
    font-family: Pokemon;
    src: url(Font/Pokemon\ Hollow.ttf);
  }
*{
    margin: 0;
    padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	background:url(Slike/background.jpg) no-repeat;
    background-size: cover;
    
	}
	h1 { 
	  letter-spacing: 2px;
	  margin-top:-70%;
	  margin-left:-90%;
	  font-size:150px;
	  
	}
.container {
    display: flex; 
	justify-content: space-around;
    align-items: center; 
    margin-right: 1230px;
}

.levi {
    flex: 0 0 auto; 
    position: relative;
    margin-top: 180px;
	margin-left: 590px;
    order: 1;
    
}
.sredina {
    flex: 0 0 auto; 
    margin-top: 40px;
	margin-left: 5%;
    order: 2;
}
.gumb1{
  position:absolute;
  width: 170px;
  height: 170px;
  margin-top: 130px;
  margin-left: 10px;
}
.gumb2{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 800px; 

}
.naslov{
    position: absolute;
    margin-top: -715px;
   margin-left: 1160px;
   cursor: pointer;
}
.slika1{
    position: absolute;
    margin-bottom: -915px;
    margin-left: 1187px;
}
.slika2{
    position: absolute;
    margin-top: -547px;
    margin-left: 1140px;
}
.btn {
    position: absolute;
    background-color: green;
    margin-top: 10px;
    padding: 15px 60px;
    text-align: center;
    border: none;
    outline: none;
    transition: .5s;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    display: block;
    border-radius: 30px;
    background-size: 200% auto;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
    margin-left: 2200px;
}
.btn:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.btn2 {
    position: absolute;
    background-color: red;
    margin-top: 180px;
    margin-left: 2200px;
    padding: 15px 45px;
    text-align: center;
    border: none;
    outline: none;
    transition: .5s;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    display: block;
    border-radius: 30px;
    background-size: 200% auto;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
}
.btn2:hover {
    transform: scale(1.1);
    transition: all .5s;
}
.maze{
    background:RGBA(211,211,211,0.5);
    

}